\documentclass%%
%---------------------------------------------------------------------------
  [fontsize=11pt,%%          Schriftgroesse
%---------------------------------------------------------------------------
% Satzspiegel
   paper=a4,%%               Papierformat
   %enlargefirstpage=on,%%    Erste Seite anders
   %pagenumber=headright,%%   Seitenzahl oben mittig
%---------------------------------------------------------------------------
% Layout
   headsepline=off,%%         Linie unter der Seitenzahl
   parskip=half,%%           Abstand zwischen Absaetzen
%---------------------------------------------------------------------------
% Was kommt in den Briefkopf und in die Anschrift
   fromalign=right,%%        Plazierung des Briefkopfs
   fromfax=on,
   fromphone=on,%%           Telefonnummer im 
   addrfield=on,%%           Adressfeld fuer Fensterkuverts
   backaddress=on,%%         ...und Absender im Fenster
   subject=beforeopening,%%  Plazierung der Betreffzeile
   locfield=narrow,%%        zusaetzliches Feld fuer Absender
   foldmarks=on,%%           Faltmarken setzen
   numericaldate=off,%%      Datum numerisch ausgeben
   refline=narrow,%%         Geschaeftszeile im Satzspiegel
   firstfoot=on,%%           Footerbereich
%---------------------------------------------------------------------------
% Formatierung
   draft=off%%                Entwurfsmodus
]{scrlttr2}
%---------------------------------------------------------------------------
\usepackage[english, ngerman]{babel}
\usepackage{url}
\usepackage{lmodern}
\usepackage[latin1]{inputenc}
\usepackage{tabularx}
\usepackage[table]{xcolor}
\usepackage{slashbox,pict2e}
\usepackage{colortbl}
% symbols: (cell)phone, email
\RequirePackage{marvosym} % for gray color in header
%\RequirePackage{color} % for gray color in header
\usepackage[T1]{fontenc}
\usepackage{textcomp}
\usepackage{graphicx}
%---------------------------------------------------------------------------
% Schriften werden hier definiert
\renewcommand*\familydefault{\sfdefault} % Latin Modern Sans
\setkomafont{fromname}{\sffamily\color{mygray}\LARGE}
%\setkomafont{pagenumber}{\sffamily}
\setkomafont{subject}{\mdseries}
\setkomafont{backaddress}{\mdseries}
\setkomafont{fromaddress}{\small\sffamily\mdseries\color{mygray}}
%---------------------------------------------------------------------------
\begin{document}
%---------------------------------------------------------------------------
% Briefstil und Position des Briefkopfs
\LoadLetterOption{DIN} %% oder: DINmtext, SN, SNleft, KOMAold.
\makeatletter
\@setplength{sigbeforevskip}{0mm} % Abstand der Signatur von dem closing
\@setplength{firstheadvpos}{17mm} % Abstand des Absenderfeldes vom Top
\@setplength{firstfootvpos}{275mm} % Abstand des Footers von oben
\@setplength{firstheadwidth}{\paperwidth}
\@setplength{locwidth}{70mm}   % Breite des Locationfeldes
\@setplength{locvpos}{65mm}    % Abstand des Locationfeldes von oben
\ifdim \useplength{toaddrhpos}>\z@
  \@addtoplength[-2]{firstheadwidth}{\useplength{toaddrhpos}}
\else
  \@addtoplength[2]{firstheadwidth}{\useplength{toaddrhpos}}
\fi
\@setplength{foldmarkhpos}{6.5mm}
\makeatother
%---------------------------------------------------------------------------
% Farben werden hier definiert
% define gray for header
\definecolor{mygray}{gray}{.55}
% define blue for address
\definecolor{myblue}{rgb}{0.25,0.45,0.75}

%---------------------------------------------------------------------------
% Absender Daten
\setkomavar{fromname}{$contact\,\,}
%{ }
\setkomavar{fromaddress}{$street\,$streetNo\,$zip $city\,}
\setkomavar{fromphone}[\Mobilefone~]{$phone\,}
\setkomavar{fromfax}[]{Steuernummer: $taxNo}
\setkomavar{fromemail}[\Letter~]{$email\,}
%\setkomavar{fromurl}[]{http://max-mustermann.de}
%\setkomafont{fromaddress}{\small\rmfamily\mdseries\slshape\color{myblue}}

\setkomavar{backaddressseparator}{}
%\setkomavar{backaddress}{Max Mustermann, alternative Straße, alternative Stadt} % wenn erwünscht kann hier eine andere Backaddress eingetragen werden
\setkomavar{signature}{$contact}
% signature same indention level as rest
\renewcommand*{\raggedsignature}{\raggedright}
\setkomavar{location}{\raggedleft

}
% Anlage neu definieren
\renewcommand{\enclname}{Anlagen}
\setkomavar{enclseparator}{: }
%---------------------------------------------------------------------------
% Seitenstil
%pagenumber=footmiddle
\pagestyle{plain}%% keine Header in der Kopfzeile bzw. plain
\pagenumbering{arabic}
%---------------------------------------------------------------------------
%---------------------------------------------------------------------------
\firstfoot{\footnotesize%
\rule[3pt]{\textwidth}{.4pt} \\
\begin{tabular}[t]{l@{}}%
\usekomavar{fromname}\\
\usekomavar{fromaddress}\\
\end{tabular}%
\hfill
\begin{tabular}[t]{l@{}}%
  \usekomavar[\Mobilefone~]{fromphone}\\
   \usekomavar[\Letter~]{fromemail}\\
\end{tabular}%
\ifkomavarempty{frombank}{}{%
\hfill
\begin{tabular}[t]{l@{}}%
Bankverbindung: \\
\usekomavar{frombank}
\end{tabular}%
}%
}%
%---------------------------------------------------------------------------
% Bankverbindung
\setkomavar{frombank}{Kto. $accountNo\\
BLZ $bankNo\\
$bankName}
%---------------------------------------------------------------------------
%\setkomavar{yourref}{}
%\setkomavar{yourmail}{}
%\setkomavar{myref}{}
%\setkomavar{customer}{}
\setkomavar{invoice}{$billNo}
%---------------------------------------------------------------------------
% Datum und Ort werden hier eingetragen
\setkomavar{date}{\today}
\setkomavar{place}{$city}
%---------------------------------------------------------------------------

%---------------------------------------------------------------------------
% Hier beginnt der Brief, mit der Anschrift des Empfängers

\begin{letter}
{
$customer.companyName\\
$customer.street $customer.streetNo\\
$customer.zip $customer.city\\
}
%---------------------------------------------------------------------------
% Der Betreff des Briefes
\setkomavar{subject}{\bf{RECHNUNG
}
}
%---------------------------------------------------------------------------
\opening{Sehr #if ($customer.male==true) geehrter #else geehrte #end $customer.gender $customer.lastName,}
Für die, im $month von mir erstellten, Texte stelle ich Ihnen folgende Beträge in Rechnung.
%Wie vereinbart, berechne ich Ihnen pro Wort ?1,5? Cent.%
Bitte überweisen Sie den folgenden Rechnungsbetrag innerhalb von 14 Tagen auf das unten angegebene Konto.

\vspace{5pt}
\begin{tabular} {lrrr}%{*{4} {m{100pt}}} 
\hline
Leistung                                           & Wortzahl  & Cent/Word & Preis in \texteuro \\\hline
#foreach ($item in $allItems)
#if ($velocityCount%2 ==0) \rowcolor[gray]{0.9} #else#end $item.title &  $item.wordCount	& #if ($item.fixedPrice) - #else $item.centPerWord #end		& $math.roundTo(2,$item.total)  \\
#end
 \hline\hline
\end{tabular}

Als Kleinunternehmer besteht nach §19 UStG keine Umsatzsteuerpflicht.
\\

\closing{Mit freundlichen Grüßen,\\\includegraphics{signum.jpg}\\}


%---------------------------------------------------------------------------
%\ps{PS:}
%\cc{}
%---------------------------------------------------------------------------
\end{letter}
%---------------------------------------------------------------------------
\end{document}
%---------------------------------------------------------------------------
